@{
    ViewBag.Title = "Welcome to Angular with MVC 5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<div style="border:dotted; background-color:darkorange;">
    <h4>
        This is a MVC CSHTML
    </h4>
</div>
<my-app>
    App Loading...
</my-app>
